.container {
}

.form {
    display: flex;
    align-items: center;

}

.submit{
    border-width: 2px;
    border-color: cadetblue;
    margin-left: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    font-size: 14px;
}

.label{
    padding: 5px;
}

.input{
    width: 300px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
